body {
  overflow-x: hidden;
}

.main-container {
  width: 100%;
  background-color: rgb(0,0,255);
  background-image: url('../../img/background.png');

  font-family: 'Arvo', Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #ffffff;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently */
}

.background-canvas {
  position: fixed;
  top: 0; left: 0;
  transition: filter 0.5s;
}

.route-wrapper {
  position: relative;
  width: 100%;

  & > div {
    position: absolute;
    left: 0; top: 0;
    opacity: 1;
    width: 100%;
  }
}


form.generic {

  .form-group {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 15px;
    
    label {
      width: 150px;
    }

    input, textarea {
      width: 450px;
    }
  }

  input, textarea {
    border: none;
    background-color: aliceblue;
    color: magenta;
    mix-blend-mode: color;
    outline: none;
    padding: 10px 18px;
    font-size: 20px;
    font-weight: bold;
  }
}