.playground {
  margin-top: 300px;

  .playground-preview-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;

    &:last-child {
      margin-bottom: 100px;
    }

    &.right {
      justify-content: flex-end;
    }

    .aligner {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .playground-preview {
      width: 300px;
      height: 300px;
      position: relative; 
  
      .preview-image, .preview-image-solid {
        width: 300px;
        height: 300px;
        position: absolute;
        top: 0; left: 0;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
      }
  
      .preview-image {
        mix-blend-mode: color;
      }
  
      .preview-image-solid {
        opacity: 1;
        transition: all 0.5s;
  
        &:hover {
          opacity: 0.2;
        }
      }
    }
  
    &:nth-child(3n) {
      .preview-image {
        
      }
    }

    &:nth-child(3n+1) {
      .playground-preview .preview-image {
        mix-blend-mode: hue;
      }
    }

    &:nth-child(3n+2) {
      .playground-preview .preview-image {
        mix-blend-mode: saturation;
      }
    }
  }
}


@keyframes bouncy {
  from {
    top: 0;
  }

  to {
    top: -6px;
  }
}


.playground-item {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  color: #000000;
  padding-bottom: 100px;

  .go-back {
    position: fixed;
    bottom: 0; left: 0;
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 30px 50px 53px 74px;
    transition: all 0.1s;

    &:hover {
      padding-left: 78px;
    }
  }

  .playground-link {
    position: fixed;
    top: 50%;
    left: 22.5%;
    transform: translate(-50%, -50%);
    display: block;
    color: #000000;
    text-decoration: none;
    padding: 20px 30px;
    font-size: 20px;
    font-weight: bold;
    transition: transform 0.05s;

    &:hover {
      transform: translate(-55%, -55%);
      padding: 25px 35px;
    }
  }

  .right-part {
    width: 55%;
    text-align: right;
    padding-right: 50px;
    box-sizing: border-box;
  }

  img {
    display: inline-block;
    width: 100%;
  }
}